	body{
		font-family: Tahoma;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		background-color: #555
	}
	
	a, a:visited, a:active{
		color: #FFF;
		text-decoration: none;
	}
/***********************
 BANNER with MainMenu
 ***********************/

	#banner{
		width: 1000px;
		height: 70px;
		background: #111;
		padding-left: 5px;
		margin-bottom: 8px;
	}

	#banner, #banner .sb-inner { background:#111 }
	#banner .sb-border { background: #FFF }
	#bannerText{
		margin-bottom: 10px;
	}

	#bannerLeft{
		width: 800px;
		float: left;
	}
	
	#bannerRight{
		width: 180px;
		text-align: right;
		height: 60px;
		float: left;
	}
	
	#bannerRight img{
		padding-top: 5px;
	}
	
	#mainMenu{
		background-color: #485052;
		text-align: center;
		overflow:hidden; 
		background: #111; 
		margin: 0; 
		padding: 0; 
		width: 850px;
	}

	#mainMenu li{
		list-style: none;
		float: left;
		width: 130px;
		height: 21px;
		margin-left: 2px;
	}
	#mainMenu li .sb-border { background:#485052; }
	#mainMenu li, #mainMenu li .sb-inner { background-color: #485052; }

	#mainMenu a{ display:block; padding: 1px; }

	#mainMenu li:hover, #mainMenu li:hover .sb-inner { background: #AAA; }
	#mainMenu li.hover, #mainMenu li.hover .sb-inner { background: #AAA; }

/***************
 Upper Left Nav
 ***************/

	#navContainer{
		float:left;
		width: 160px;
	}
	 
	#nav{
		width: 100%;
		height: 250px;
		background: #111;
		padding-left: 5px;
	}

	#nav, #nav .sb-inner { 
		background:#FFF; 
		padding-left: 2px;
		padding-right: 2px;
	}
	#nav .sb-border { background:#111; }

	#navHd, #navHd .sb-inner{
		background: #111;
		text-align: center;
	}
	
	#navContent{
		color: #485052;
		padding-left: 5px;
	}

	#navSearch{
		width: 100%;
		height: 61px;
		background: #111;
		padding-left: 5px;
	}

	#navSearch, #navSearch .sb-inner { 
		background:#FFF; 
		padding-left: 2px;
		padding-right: 2px;
	}
	#navSearch .sb-border { background:#111; }

	#searchHd, #searchHd .sb-inner{
		background: #111;
		text-align: center;
	}

/**************
 Content
 **************/
	#content{
		float: left;
		color: #485052;
		background: #111;
		width: 833px;
		min-height: 308px;
		margin-left: 8px;
	}

	#content, #content .sb-inner { background:#FFF; padding: 2px}
	#content .sb-border { background:#111; }

	#contentHd, #contentHd .sb-inner{
		background: #111;
		color: #fff;
	}

	#epgsearch{ width: 128px; }
	
	.boxContent{
		padding: 3px;	
	}
	
/*****************
* Subnavigation
******************/	
	.navTable{
		width: 100%;
	}
	
	.navTable a, .navTable a:visited, .navTable a:active{
		color: #485052;
		text-decoration: none;
		display: block;
	}
	
	.navTable a:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
/*****************
* ServiceList
******************/		
	.sListSName a{
		display: block;
		color: #485052;
	}
	
	.sListSName:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
	.sListSName {
		width: 735px;
	}
	
	.header{
		padding-top: 2px;
		padding-left: 4px;
		padding-right: 4px;
		display:block;
		height: 22px;
	}

	#container {
		margin: 0 auto;   /* align for good browsers */
		text-align: left; /* counter the body center */
		width: 1005px;
	}

	#contentTable{
		scrollbar: auto;
		width: 785px;
	}
	
	#contentTable div{
		width: auto;
		overflow: auto;
	}

	#contentMain{
		padding: 8px;
		margin-bottom: 5px;
	}

	#contentMain {
		clear: both;
		/*overflow-x: hidden;*/
		overflow-y: auto;
		width: 815px;
	}

	/*
	html>body #contentMain div{
		overflow: hidden;
		width: 785px;
	}
*/
	#contentMain div table {
		float: left;
		width: 799px;
	}
	
	.sListItem{
		border-bottom: 2px solid #CCC;
		width: 780px;
	}

/*****************
* ServiceList EPG
******************/		
	.epgStart{
		width: 50px;		
	}
	
	.epgTitle{
		width: 680px;
		border-right: 1px solid #CCC;
		border-left: 1px solid #CCC;
	}
	
	.epgLength{
		width: 50px;
		text-align: right;
	}
	
	.mStart{
		width: 160px;		
	}
	
	.mTitle{
		width: 550px;
		border-right: 1px solid #CCC;
		border-left: 1px solid #CCC;
	}
	
	.mLength{
		width: 70px;
		text-align: right;
	}
	
/*****************
* About
******************/	
	
	.aboutHeader {
		width:100%;
		color:#FFF;
		font-weight:bold;
		background-color:#111;
	}

	.about {
		border: 1px solid #CCC;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.fullwidth {
		width: 100%;
	}

	.aboutSection{
		width:100%;
		margin: 0 0 0 0;
	}

	.aboutSectionLeft{
		width:50%;
		vertical-align: top;
	}

	.aboutSectionRight{
		width:50%;
		vertical-align: top;
	}

	.aboutElement{
		float: none;
	}

	.aboutElementLeft{
		font-weight:bold;
		width: 50%;
		text-align: left;
	}

	.aboutElementRight{
		width: 50%;
	}
	
	.w200h50{
		width: 200px;
		height: 50px;
	}
	
	
/*****************
* Timer
******************/		
	.tListSName{
	width: 180px;
	text-align: left;
	}
	.tListItem{
		background-color: #EEE;
	}
	.tListTitle{
		width: 150px;
		text-align: left;
	}
	.tListDescr{
		width: 150px;
		text-align: left;
	}
	.tListRepeat{
		width: 70px;
		text-align: left;
	}
	.tListDuration{
		width: 70px;
		text-align: left;
	}
	.tListBegin{
		width: 100px;
		text-align: left;
	}
	.tListEnd{
		width: 100px;
		text-align: left;
	}
	.tListAfter{
		width: 85px;
		text-align: left;
	}
	.tListOption{
		width: 80px;
		text-align: center;
	}
	#TimerColor0 {
		color: #000000;
	}
	#TimerColor1 {
		color: #00BCBC;
		background-color: #DDD;
	}
	#TimerColor2 {
		color: #9F1919;
		background-color: #DDD;
	}
	#TimerColor3 {
		color: #00BCBC;
		background-color: #DDD;
	}